<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Court</title>
</head>
<body>
    <h1>Edit Court</h1>
    <form action="/courts/<%= courts._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="court[title]" id="title" value="<%= courts.title %>">
            <label for="location">Location</label>
            <input type="text" name="court[location]" id="location" value="<%= courts.location %>">
            <button>Update Court</button>
        </div>
    </form>
    <div>
        <a href="/courts/<%= courts._id %>">Back to Campground</a>
    </div>
</body>
</html>