<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courts</title>
</head>
<body>
    <h1>All Courts</h1>
    <div>
        <a href="/courts/new">Add Court</a>
    </div>
    <ul>
        <% for(let court of courts) {%>
            <li><a href="courts/<%= court._id %>"><%= court.title %></a></li>
        <% }%>
    </ul>
</body>
</html>