<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Court</title>
</head>

<body>
    <h1>Single Court</h1>
    <h2><%= courts.title %></h2>
    <h3><%= courts.location %></h3>
    <div></div>
    <footer>
        <a href="/courts">All Courts</a>
        <a href="/courts/<%= courts._id %>/edit">Edit Court</a>
        <p>
            <form action="/courts/<%= courts._id %>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </p>
    </footer>
</body>

</html>